.auth__block{
    width: 350px;
    height: 350px;
    margin: 150px auto;
    text-align: center;
    box-shadow: 2px black;
    border-radius:10px ;
    border: 1px solid black;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.auth__title{
  background-color: rgb(245, 155, 21);
  
    display: block;

  padding:20px 131.5px ;

  border-radius: 10px 10px 0 0 ;

}

.input__field{
    margin: 50px 0;
}

.input__field>label{


 
}
.input__field>input{
 height: 35px;
    width: 325px;
 }
.input__field>label>input>{

}
a{
    text-decoration: none;
}
.hhh{
    margin:'50px';
    text-align:'center'
}

