.navbar{
    background-color: rgb(245, 155, 21);
    height: 75px;
    padding: 0 15px;
}

.nav{
    display: flex;
    position: relative;
}
.logo{
    padding-top:10px ;
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 23px;
line-height: 27px;
width: 50px;

color: #000000;
}
.menu-nav{
    display: flex;
    justify-content: flex-end;
    width: 500px;
    position: absolute;
    right: 0;
}
.menu__item{
    padding-top: 10px;
    padding-left: 30px;
    text-decoration: none;
    list-style: none;
}
.menu__item>a{
    color: #000;
    text-decoration: none;}